<%- include('../layout/Header') %>
    <%- include('../layout/Navbar') %>

        <div class="showdata">
            <h1>About <span
                class="green-text">Daily Dairy</span>
            </h1>
            <p>A simple app made for jotting</p>
            
        </div>
        
<%- include('../layout/Footer') %>