
<%- include('../layout/Header') %>
    <%- include('../layout/Navbar') %>

        <div class="showdata">
            <h1>Welcome to My Daily <span
                class="green-text">Diary</span>
            </h1>
            <p>Record Your Daily Life</p>
            <a href="/diary">Open Your Diary</a>
        </div>

<%- include('../layout/Footer') %>

