<header>
    <div class="container">
        <a href="/" class="logo">DAILY <span class="green-text">
            DIARY</span></a>
    
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/diary">Go To Diary Page</a></li>
                </ul>
            </nav>
    
    </div>

</header>